# Ignore Python virtual environment
venv/

# Ignore Jupyter Notebook checkpoints
data_preparation/.ipynb_checkpoints
.ipynb_checkpoints

# Ignore outputs in .ipynb files
# *.ipynb
# data_preparation/*.ipynb